{% load static %}
{% load templates %}
<span class="title fs-1 fw-lighter">Данные о поручении</span>

<form id="formInput" class="mt-3" action="#" onsubmit="return false">
    <div class="row align-items-end mt-3">
        <div class="col-md-4">
            <label for="assignment_number" class="col-form-label">Номер поручения</label>
            <div class="input-group">
                <div class="input-group-text">TM-</div>
                <input required data-validate type="search" pattern="[0-9]*" id="assignment_number"
                    class="form-control">
            </div>
        </div>
        {% autoescape off %}
        {% form_buttons %}
        {% endautoescape %}
    </div>
</form>
<span id="results-counter" class="d-block text-secondary text-end"></span>